@import "./_variables.scss";
@import './_media-query.scss';

/*
  header
*/
.header {
  background: #fff;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.3);
  @include mq-tl-up {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    > h1 {
      flex: 0 1 20%;
    }
    > ul {
      flex: 0 1 50%;
    }
  }
  h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    padding: 10px;
    @include mq-tl-up {
      display: flex;
      justify-content: center; 
      align-items: center; 
    }
    a {
      color: #000;
      text-decoration: none;
    }
  }

  &--nav {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: none;

    &.active {
      display: block;
    }
    @include mq-tl-up {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;

    }
    li {
      position: relative;
      width: 100%;
      padding: 8px 0;


      @include mq-tl-up {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
      
      }
    }
    a {
      text-decoration: none;
      color: #000;
      display: block;
      padding: 0;
      &.active {
        font-weight: bold;
      }

      @include mq-tl-up {
        &::after {
          position: absolute;
          top: 50%;
          margin-top: -14px;
          left: 0;
          content: '';
          width: 1px;
          height: 28px;
          display: block;
          background-color: #000;
        }
      }
    }
  }
  &--nav__icon {
    display: inline-block;
    cursor: pointer;
    padding: 10px 5px;
    position: absolute;
    top: 8px;
    right: 8px;
    &:active,
    &:focus {
      background: rgba(255, 255, 255, .2);
    }
    @include mq-tl-up {
      display: none;
    }

    span {
      display: block;
      width: 30px;
      height: 3px;
      background: #000;
      margin-left: auto;
      margin-right: auto;
      & + span {
        margin-top: 3px;
      }
    }
    
  }
}

